﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #fff;
    font-family: 'Trebuchet MS';
    margin: 0px;
    padding: 0px;
    color: #696969;
    font-size:0.8em;
    height: 292px;
}

a:link, a:visited
{
    color: #cc0000;
    font-weight: bold;
}

a:hover
{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:active
{
    color: #000000;
    font-weight: bold;
}

p
{
    margin-bottom: 10px;
    line-height: 2em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #666666;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight:600;
}

h2
{
    font-size: 1.6em;
    font-weight: 600;
    
}

h3
{
    font-size: 1em;
    font-weight:bold;
}

h4
{
    font-size: 1.1em;
    font-weight: bold;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    display:block;
    width: 960px;
    background-color: inherit;
    margin: 20px auto 19px auto;
    padding-bottom:150px; 
    height: auto;
    padding-left:0px;
}

.header
{
position: static;
top:0;
padding:0px;
margin: 0px;
padding-top: 25px;
background: #DFDDDD;
width: 100%; 
height:241px;  
border:none;
}

.header-container
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 960px;
    position: relative;
    margin: 0px auto 25px auto;
    background: inherit;
    top: 0px;
    left: 0px;
    height: 46px;
}
.header-text
{
    right:8px;
    position:absolute;
    bottom:-145px;
    text-align:left;
    width:680px;
    padding:0px;
    display:inline;
    }

.header h1
{
    display: inline;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    font-size: 2.7em;
    color:#383838;
}

.red
{
    width:100%;
    height:27px;
    padding-top: 7px;
    background-color:#cc0000;
    padding:0px;
   }



.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
      
}

.footer
{
    background-color: #111111;
    height: 169px;
    margin: 0px auto;
    text-align: left;
    color:#999;
    width:100%;
    line-height: normal;
    position:relative;
    /* bottom:-100px; */
    padding-top:25px;
    padding-bottom:25px;
   /* left: -2px; */
  /*  top: 302px; */
}

.footer-container
{

    width: 960px;
    margin: 25px auto 0px auto;
    padding-left: 45px;
    background: inherit;
}

.footer p 
{
    font-size:0.8em;
    line-height:1em;
    }

.footer h1
{
    font-weight:normal;
    font-size:1.2em;
    line-height:1.2em;
    }
    
/* sitemapclass
----------------------------------------------------------*/
.sitemap
{
    display:block;
    color:#cc0000;
    font-weight:bold;
    float:right;
    font-family:'Trebuchet MS';
    Font-Size:0.7em;
    text-transform:uppercase;
    }

.sitemap:link
{
    color:#cc0000;
    }

.root{
    color:#cc0000;
    }

.root:link{
    color:#cc0000;
 }
 
.root:visited{
    Font-Size:0.8em; 
    color: #000000;
    font-weight:bold;
    }
    
.pathsep{
    Font-Size:0.8em; 
    color:  #B40404;
    font-weight:bold;
    }
 
 .parent{
    Font-Size:0.8em; 
    color:  #000000;
    font-weight:bold;
 }
  
  .parent:link{
    Font-Size:0.8em; 
    color:  #000000;
    font-weight:bold;
 }
 
.parent:visited{
    Font-Size:0.8em; 
    color:  #000000;
    font-weight:bold;
 }
 
 .cur{
     Font-Size:0.8em; 
    color:  #000000;
    font-weight:bold;
     }

/* Forside table   aka sofies
----------------------------------------------------------*/

table.menu
{
    width:100%;
    padding:15px;
    margin-top:1px;
    border-collapse:collapse;
    border-left:2px solid #DDD;
    border-right:2px solid #DDD;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    table-layout:fixed;
    height: auto;
}
tr.top
{
    border-bottom: 2px solid #DDD;
    height:auto;
    padding-top:0px;
}

td.menu
{
    border-left:2px solid #DDD;
    border-right:2px solid #DDD;
    width:16.67%;
    padding: 10px 15px 10px 5px;
    vertical-align:top;
}

table.menu h2
{
    font-size: 1.2em;
    font-weight: 600;
    text-decoration:none;
    line-height:1.2em;
    display: inline;
}

table h5
{
    display: inline;
    font-size:0.8em;
    line-height:1.2em;
    }

table p
{
    margin-bottom:0px;
    }
    
    
  table.menu a:link, table.menu a:visited
{
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

 table.menu a:hover
{
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}
   /*lisas gamle tabel 
       -------------------------------------------------------------*/ 
   table.oversigt
{
    width:7%;
    padding:15px;
    margin-top:15px;
    border-collapse:collapse;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
    
 th.oversigt
 {
 
    border-left:2px solid #DDD;
    border-right:2px solid #DDD;
    text-align:left;
    margin:0px;
    padding:15px;
    padding-top:0px;
    padding-bottom:10px;
    vertical-align:text-top;
    font-weight:normal;
   }

td.oversigt
{
    width:16%;
    vertical-align:text-top;
    border-left:2px solid #DDD;
    border-right:2px solid #DDD;
    padding: 10px 15px 10px 15px;
    }
 table.oversigt li
 {
     list-style-type: none;
     line-height:20px;
 }
 
 table.oversigt h2
{
    font-size: 1.4em;
    font-weight: 600;
    text-decoration:none;
    line-height:1.2em;
    text-decoration:underline;
    display: inline;
}

table h5
{
     display: inline;
    font-size:0.8em;
    line-height:1.2em;
    }
table p
{
    margin-bottom:0px;
    }
    
    
  table.oversigt a:link, table.oversigt a:visited
{
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

 table.oversigt a:hover
{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
    
/*Nominering til klimapriser
    ------------------------------------------------------*/
ul.start {
    list-style-type: disc;
}

ol.krav {
    list-style-type: upper-alpha;
}
ol.overskrift {
    list-style-type: decimal;
}
/* infosiden 
----------------------------------------------------------*/

.info
{
    border-bottom:1px solid #DDD;
    width:100%;
    padding:15px 0px 15px 0;
    font-size: 1em;
    line-height:1.3em;
    height: 12117px;
}
    
.info h3
{
    font-size: 1em;
    font-weight:bold;
    line-height:1.3em;
}

/*deadline---------------------------------*/
table.deadline
{border-collapse: collapse;
 border-style: solid 1.5px;

    }

td.deadline {
    border-collapse: collapse;
    border: solid 1px;
}